{% extends "nav.html" %}
{% load static %}


{% block pageTitle %}

    About | CodeSpot

{% endblock pageTitle %}


{% block mainContent %}

<div class="row d-flex">
                        
    <div class="col-lg-12">
                <div class="row d-flex align-items-center justify-content-center">
                    

                    <div class="col-lg-6">    
                        <img src= {% static 'assets/img/about.png' %} class="img-fluid">
                    </div>
                    <div class="col-lg-6">    
                        <h2 style="margin-top: 20px; margin-bottom: 20px; font-weight: 600">About the Project</h2>
                        <p>
                            CodeSpot, the <b>official LMS of Panimalar Engineering College</b>, is the culmination of the <b>Coders Forum</b>'s expertise within the <b>Department of Computer Science and Engineering</b>. This meticulously designed platform revolutionizes education, providing a seamless digital environment for collaborative learning and academic excellence.
                        </p>
                    </div>
        </div>
    </div>
</div>

<div class="row content justify-content-between d-flex align-items-center" style="margin-top: 40px;">
    <div class="col-md-1 text-center" data-aos="fade-right">
        <div class="card">
            <img src= {% static 'assets/img/techStack/html.png' %} class="card-img" alt="HTML">
        </div>
    </div>

    <div class="col-md-1 text-center" data-aos="fade-right">
        <div class="card">
            <img src= {% static 'assets/img/techStack/css.png' %} class="card-img" alt="CSS">
        </div>
    </div>

    <div class="col-md-1 text-center" data-aos="fade-right">
        <div class="card">
            <img src= {% static 'assets/img/techStack/js.png' %} class="card-img" alt="JavaScript">
        </div>
    </div>

    <div class="col-md-1 text-center" data-aos="fade-right">
        <div class="card">
            <img src= {% static 'assets/img/techStack/bootstrap.png' %} class="card-img" alt="Bootstrap">
        </div>
    </div>

    <div class="col-md-1 text-center" data-aos="fade-right">
        <div class="card">
            <img src= {% static 'assets/img/techStack/python.png' %} class="card-img" alt="Python">
        </div>
    </div>

    <div class="col-md-1" data-aos="fade-right">
      <div class="card">
          <img src= {% static 'assets/img/techStack/django.png' %} class="card-img" alt="Django">
      </div>
    </div>

    <div class="col-md-1 text-center" data-aos="fade-right">
        <div class="card">
            <img src= {% static 'assets/img/techStack/mysql.png' %} class="card-img" alt="MySQL">
        </div>
    </div>

    <div class="col-md-1" data-aos="fade-right">
      <div class="card">
          <img src= {% static 'assets/img/techStack/aws.png' %} class="card-img" alt="AWS">
      </div>
    </div>

    <div class="col-md-1" data-aos="fade-right">
        <div class="card">
            <img src= {% static 'assets/img/techStack/linux.png' %} class="card-img" alt="Linux">
        </div>
      </div>

  </div>


<div class="row d-flex align-items-center justify-content-center">
    <h2 style="margin-top: 60px; margin-bottom: 20px; font-weight: 600">Meet the Developers</h2>
                
    <div class="col-lg-12">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-lg-4">
                <div class="card h-100" style="margin-top: 10px;">
                    <div class="card-body d-flex flex-column align-items-stretch">
                        <h4 style="margin-top: 20px; margin-bottom: 20px; font-weight: 600">Front-End Developers</h4>        
                        <ul style="list-style: none;">
                            <li><a style="color: #444444;" target="_blank" href="https://www.linkedin.com/in/jeswinjosephj/"><i style="color: #3258a9;" class="bi bi-linkedin"></i>&nbsp;&nbsp;<b>Jeswin Joseph J</b></a></li>
                            <li></li>
                            <li><a style="color: #444444;" target="_blank" href="https://www.linkedin.com/in/kumar-k-a1b66a224/"><i style="color: #3258a9;" class="bi bi-linkedin"></i>&nbsp;&nbsp;<b>Kumar K</b></a></li>
                            <li><a style="color: #444444;" target="_blank" href="https://www.linkedin.com/in/madhavakumar-dhandapani/"><i style="color: #3258a9;" class="bi bi-linkedin"></i>&nbsp;&nbsp;<b>Madhavakumar D</b></a></li>
                            <li><a style="color: #444444;" target="_blank" href="http://www.linkedin.com/in/hariharan41929"><i style="color: #3258a9;" class="bi bi-linkedin"></i>&nbsp;&nbsp;<b>Hariharan B</b></a></li>
                            <li><a style="color: #444444;" target="_blank" href="https://www.linkedin.com/in/emmanuel-prithish/"><i style="color: #3258a9;" class="bi bi-linkedin"></i>&nbsp;&nbsp;<b>Emmanumel Prithish</b></a></li>
                            <li><a style="color: #444444;" target="_blank" href="https://www.linkedin.com/in/s-a-varuun-vidyuuth/"><i style="color: #3258a9;" class="bi bi-linkedin"></i>&nbsp;&nbsp;<b>Varuun Vidyuuth S A</b></a></li>
                            <h1></h1>
                            <br>
                        </ul> 
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="card h-100" style="margin-top: 10px;">
                    <div class="card-body d-flex flex-column align-items-stretch">
                        <h4 style="margin-top: 30px; margin-bottom: 20px; font-weight: 600">Back-End Developers</h4>   
                        <ul style="list-style: none;">
                            <li><a style="color: #444444;" target="_blank" href="https://www.linkedin.com/in/madhavakumar-dhandapani/"><i style="color: #3258a9;" class="bi bi-linkedin"></i>&nbsp;&nbsp;<b>Madhavakumar D</b></a></li>
                            <li><a style="color: #444444;" target="_blank" href="http://www.linkedin.com/in/hrishab59"><i style="color: #3258a9;" class="bi bi-linkedin"></i>&nbsp;&nbsp;<b>Rishab H</b></a></li>
                            <li><a style="color: #444444;" target="_blank" href="https://www.linkedin.com/in/mohamed-jasim-b57802259/"><i style="color: #3258a9;" class="bi bi-linkedin"></i>&nbsp;&nbsp;<b>Mohamed Jasim</b></a></li>
                            <li><a style="color: #444444;" target="_blank" href="http://www.linkedin.com/in/johithraj"><i style="color: #3258a9;" class="bi bi-linkedin"></i>&nbsp;&nbsp;<b>Johith Raj S S </b></a></li>
                            <li><a style="color: #444444;" target="_blank" href="https://www.linkedin.com/in/sudarson-bharathwaaj-b8227b254/"><i style="color: #3258a9;" class="bi bi-linkedin"></i>&nbsp;<b> Sudarson Bharathwaaj </b></a></li>
                            <li><a style="color: #444444;" target="_blank" href="https://www.linkedin.com/in/shruti0405/"><i style="color: #3258a9;" class="bi bi-linkedin"></i>&nbsp;<b> Shruti S </b></a></li>
                            <li><a style="color: #444444;" target="_blank" href="https://www.linkedin.com/in/aalia-fathima-a46b462a2/"><i style="color: #3258a9;" class="bi bi-linkedin"></i>&nbsp;<b> Aalia Fathima </b></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="card h-100" style="margin-top: 10px;">
                    <div class="card-body d-flex flex-column align-items-stretch">
                        <h4 style="margin-top: 30px; margin-bottom: 20px; font-weight: 600">Database &amp; Cloud</h4>   
                        <ul style="list-style: none;">
                            <li><a style="color: #444444;" target="_blank" href="https://www.linkedin.com/in/madhavakumar-dhandapani/"><i style="color: #3258a9;" class="bi bi-linkedin"></i>&nbsp;&nbsp;<b>Madhavakumar D</b></a></li>
                            <li><a style="color: #444444;" target="_blank" href="https://www.linkedin.com/in/kvg08/"><i style="color: #3258a9;" class="bi bi-linkedin"></i>&nbsp;&nbsp;<b>Karthick V</b></a><p><br></p></li>
                        </ul>
                    </div>
                    <h1></h1>
                    <h1></h1>
                    <h1></h1>
                    <h1></h1>
                    <br>
                    <h1></h1>
                    <h1></h1>
                    <h1></h1>
                    <h1></h1>
                    <br>
                    <h1></h1>
                    <h1></h1>
                </div>
            </div>
        </div>
    </div>
    
</div>


{% endblock mainContent %}